@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Light font */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #000000; /* Nicer green color */
    color: #fff;
    padding: 5px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    max-width: 80px;
    vertical-align: middle;
    order: 1;
    margin-left: 20px;
}
header nav {
    order: 2;
    flex-grow: 1;
    text-align: right;
}
header h1 {
    display: inline;
    margin: 0;
    padding-left: 10px;
}
header nav ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 10px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
header nav ul li a:hover {
    background-color: #45a049; /* Slightly darker green for hover */
    border-radius: 5px;
}
main {
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #555;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* Bold font */
}